nav {
  height: 60px;
  background: #39424e !important;

  ul {
    width: 100%;

    li {
      color: #fff;
    }

    a {
      color: #fff;
    }
  }


  .user-toggle {
    position: absolute;
    right: 18px;
    width: 240px;
    height: 60px;
    padding: 10px 0px;
    top: 0px;
    line-height: 35px;
  }

  .switch {
    label {
      cursor: pointer;
      font-size: .8rem;
      color: #fff !important;
    }
  }

  .hide {
    display: none;
  }

  .menu-color {
    background: #39424e !important;
  }

  .dropdown-class {

    &:hover {
      background-color: #39424e !important;
      color: #fff;
    }
  }
}
