<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="color: #fff" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active hide" (click)="openSideNav()">
        <a class="nav-link"><i class="fa fa-bars"></i></a>
      </li>

      <ul class="navbar-nav" *ngIf="isJobSeeker">
        <li class="nav-item">
          <a class="nav-link" href="#">Build your digital resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Carrer Guidance</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="!isJobSeeker">
        <li class="nav-item">
          <a class="nav-link" href="#">Add Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All published jobs</a>
        </li>
      </ul>



      <li class="nav-item float-right user-toggle" *ngIf="!isAdmin">
        <div class="switch">
          <label>
            Job Provider
            <input type="checkbox" [checked]="isJobSeeker" (change)="switchUser()">
            <span class="lever"></span>
            Job Seeker
          </label>
        </div>
      </li>
    </ul>
  </div>
</nav>
